<table class="table mt-4">
    <div>
        <a href="/me/courses">List course</a>
        <h1>Trash</h1>
    </div>
  <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name course</th>
            <th scope="col">Level</th>
            <th scope="col">Instructor</th>
            <th scope="col"></th>
        </tr>
  </thead>
  <tbody>
        {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.instructor}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}" >Restore</a>
                    <a class="btn btn-link" href="" data-bs-toggle="modal" data-id={{this._id}} data-bs-target="#modal">Permanently deleted</a>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Haven't deleted anything course. <a href="/me/courses">List courses</a>
                </td>
            </tr>
        {{/each}}
  </tbody>
</table>

<!-- Button trigger modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete course</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you really delete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>

<form name="form-delete" method="POST"></form>
<form name="form-restore" method="POST"></form>

<script>
    var courseId;
    var deleteCourseBtn = document.querySelector('.btn-danger')
    var deleteForm = document.forms['form-delete']
    var restoreForm = document.forms['form-restore']
    var testForm = document.forms['form-test']
    var restoreBtn = document.querySelectorAll('.btn-restore')

    modal.addEventListener('show.bs.modal', function(event) {
        const button = event.relatedTarget
        courseId = button.getAttribute('data-id')
    })

    deleteCourseBtn.onclick = function() {
        deleteForm.action = `/courses/${courseId}/force?_method=DELETE`
        deleteForm.submit()
    }

    restoreBtn.forEach( function(btn) {
        btn.onclick = function(e) {
            e.preventDefault()
            var idRestore = btn.getAttribute('data-id')

            restoreForm.action = `/courses/${idRestore}?_method=PATCH`
            restoreForm.submit()
        }
    })
</script>